<% provide(:title, "Home") %>
<section id="home" data-type="page" data-name="home">
	<div id="background"></div>
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">
						<div class="active item">
							<div class="container">
								<div class="row-fluid">
									<div class="span6">
										<div class="content-left animated fadeInLeftBig">
											<h2>Lorem ipsum dolor sit amet </h2>
											<p>Sed id fringilla eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sed lacus et felis rutrum dignissim. Vestibulum et dui quis ipsum faucibus dictum sed hendrerit ipsum.</p>
										</div>
									</div>
									<div class="span6">
										<div class="content-right animated bounceInRight">
											<h2>
												<i class="icon-facebook-sign"></i>
												<i class="icon-twitter-sign"></i>
												<i class="icon-github-alt"></i>
												<i class="icon-linkedin-sign"></i>
												<i class="icon-pinterest-sign"></i>
												<i class="icon-google-plus-sign"></i>
											</h2>
											<p>Donec sed enim ut arcu semper euismod non bibendum arcu. Fusce ultricies arcu vitae leo laoreet imperdiet. Maecenas nulla turpis, ornare sed malesuada ac, viverra vitae velit.</p>
											<p>Ut molestie egestas pretium. Sed at dui eu est tincidunt elementum et et quam. Praesent condimentum posuere lectus sit amet consequat. Cras fringilla scelerisque pharetra. Quisque est nisi, volutpat ut tempor eget, molestie ac ipsum. Duis dapibus tristique mauris, eget dignissim enim elementum non. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="container">
								<div class="row-fluid">
									<div class="span6">
										<div class="content-left animated rotateInDownLeft">
											<h2>Suspendisse venenatis aliquet dui</h2>
											<p> Donec sit amet risus sit amet lacus tincidunt imperdiet eu a tellus. Donec consequat ultricies eros. In enim orci, cursus et iaculis et, ornare tempor lectus. Quisque id diam libero, eget malesuada orci.</p>
										</div>
									</div>
									<div class="span6">
										<div class="content-right animated bounceInRight">
											<h2>Nam volutpat magna</h2>
											<p>Sed placerat augue at mauris malesuada scelerisque. Nunc volutpat augue id risus pretium eu pretium nunc varius. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a class="carousel-control left" href="#myCarousel" data-slide="prev">
						<i class="icon-chevron-left"></i>
					</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">
						<i class="icon-chevron-right"></i>
					</a>
				</div>
			</div>
		</div>
		<div id="featurebox" class="row-fluid">
			<div class="span4">
				<div class="fbox">
					<div class="ficon"><i class="icon-user"></i></div>
					<h3>Integer ac</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div class="span4">
				<div class="fbox">
					<div class="ficon"><i class="icon-rss"></i></div>
					<h3>Nam vitae</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>	
			</div>
			<div class="span4">
				<div class="fbox">
					<div class="ficon"><i class="icon-search"></i></div>
					<h3>Proin justo justo</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
	</div>
</section>
